<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <title>HELPMENOW</title>
        <link rel="icon" type="image/x-icon" href="/imagenes/helpmenowlogo.ico">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
          <div class="container">
              <a href="https://helpmenow.es/" class="navbar-brand">HelpMeNow</a>
              
              <!-- es el boto d'expandir el menu -->
              <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse"
              data-bs-target="#navmenu"
              >
                  <span class="navbar-toggler-icon"></span>
               </button>
  
               
              <div class="collapse navbar-collapse" id="navmenu">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item"> 
                          <a href="https://helpmenow.es/login" class="nav-link">Inicia sesion</a>
                      </li>
                      <li class="nav-item"> 
                          <a href="https://helpmenow.es/register" class="nav-link">Registrate</a>
                      </li>
                      <li class="nav-item"> 
                          <a href="https://helpmenow.es/workforus" class="nav-link">Empieza a trabajar</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>


        <section id = "app" v-cloak>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8">
                  <div class="card mt-4">
                    <div class="card-header ">
                      Solicita tu primer servicio
                    </div>
                    <div class="card-body">
                      <form >
                        <div class="mb-3">
                          <label  class="form-label">Titulo</label>
                          <input  class="form-control" v-model = "name" placeholder = "Ex: Cuidar de Perro" required>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Descripción</label>
                          <input class="form-control" v-model = "descripcion" required>
                        </div>
                        <div class="mb-3 col-1">
                            <label class="form-label">Paga</label>
                            <input class="form-control" placeholder="En €" v-model="paga" @input="formatMoneyInput">   
                        </div>
                        <div class ="mb-3">
                          <label>Código postal de donde se solicita el servicio</label>
                          <input class="form-control" v-model = 'poblacion' required>
                        </div>

                        <div class="d-flex align-items-center">
                          <div class="col-1">
                            <label>Dia</label>
                            <input type="number" class="form-control" v-model="dia" min="1" max="31"required/>
                          </div>
                          <div class="col-2 mx-3">
                            <label>Mes</label>
                            <select v-model="mes" class="form-control" required> 
                              <option value="enero" selected>enero</option>
                              <option value="febrero">febrero</option>
                              <option value="marzo">marzo</option>
                              <option value="abril">abril</option>
                              <option value="mayo">mayo</option>
                              <option value="junio">junio</option>
                              <option value="julio">julio</option>
                              <option value="agosto">agosto</option>
                              <option value="septiembre">septiembre</option>
                              <option value="octubre">octubre</option>
                              <option value="noviembre">noviembre</option>
                              <option value="diciembre">diciembre</option>
                            </select>
                          </div>
                          <div class="col-2">
                            <label>Año</label>
                            <select v-model="year" class="form-control"required>
                              <option value=2023>2023</option>
                              <option value=2024>2024</option>
                            </select>
                          </div>
                          <div class="col-2 mx-3">
                            <label>A las</label>
                            <input type="time" id="timeInput" class="form-control" min="00:00" max="23:59" step="60" />
                          </div>
                          <div class="col-2">
                            <label>Duracion</label>
                            <input class="form-control" v-model = "duracion" required>
                          </div>
                        </div>
                        

                        <div class="mb-3 form-check">
                          <div class="d-flex justify-content-between align-items-center py-3">
                              <button v-on:click = "submitForm" type="submit" class="btn btn-primary">Sube el servicio</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          







          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
          <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
              <script>
                  const app = Vue.createApp({
                      data() {
                          return {
                          title: "post",
                          name: "",
                          descripcion: "",
                          poblacion: "",
                          paga: "",
                          mes: "enero",
                          dia: 1,
                          year: 2023,
                         
                          }
                      },
                      created() {
                        const storedName = localStorage.getItem('name');
                        if (storedName) {
                          this.name = JSON.parse(storedName);
                            }
                          },  
                      
                      
                      methods: {
                   
                          submitForm(event) {
                          event.preventDefault();
                          console.log('Selected option:', this.mes);
                          console.log("hi");
                          console.log(document.cookie);
                          axios.post('http://93.93.116.197:8000/posts', {
                            "title": this.name,
                            "description": this.descripcion,
                            "price": this.paga,
                            "per_hour": this.per_hora,
                            "poblation": this.poblacion,
                            "expiration": this.dia
                          },{
                                withCredentials: true // Include cookies in the request
                              
                            })
                        
                          },
                            
                        
                        formatMoneyInput(event) {
                        
                        let inputValue = event.target.value.replace(/[^0-9.,]|([.,].*[,\.])|([.,]\d{2})\d+/g, '$1$2');  // Remove non-numeric characters except comma and decimal point, and restrict consecutive commas/dots and more than two numbers after comma/decimal
                        inputValue = inputValue.replace('.', ',');
                       
                        this.paga = inputValue;
                        
                        }
                        

                        
                      }
                  });
                  
                  
                  app.mount("#app")
              </script>
    </body>
</html>